<?php
define('__LDAP_SERVER__', '127.0.0.1');
define('__LDAP_PORT__', 389);
define('__LDAP_DOMAIN__', 'example.com');
define('__LDAP_DN___', 'dc=example,dc=com');
define('__LDAP_ACCOUNT__', 'DoeJ');
define('__LDAP_PASSWORD__', 'MonSuperMotDePasse');